---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
  url="https://omg.com"
  title="OMG"
  description="OMG"
  keywords="omg, omg1"
  image={{
    url: 'string',
    alt: 'string',
    type: 'image/jpeg',
    width: 1200,
    height: 630,
  }}
>
  <h1>Home</h1>
</BaseLayout>
